.loading-bar {
  width: 12px;
  height: 48px;
  border-radius: 6px;
  animation: loading-bar 0.4s linear;
}

@keyframes loading-bar {
  0% {
    height: 48px;
  }
  48% {
    height: 78px;
    background-color: #1ca9f9;
  }
  52% {
    height: 78px;
    background-color: #1ca9f9;
  }
  100% {
    height: 48px;
  }
}
